<div class="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>Compra y vende <span>lo que ya no necesites</span></h1>
      </div>

      <div class="col">
        <img class="home-img" src="/img/home.png" alt="home">
      </div>
    </div>
  </div>
</div>